/* Definisi warna dan font */
:root {
  --background-color: #fff0e6; /* Warna krem muda */
  --text-color: #333; /* Warna teks gelap untuk kontras yang baik */
  --primary-color: #941c2f; /* Warna merah gelap sebagai aksen utama */
  --secondary-color: #ba181b; /* Warna merah terang sebagai aksen kedua */
  --accent-color: #e5383b; /* Warna merah cerah sebagai aksen */
  --font-primary: 'Arial', sans-serif; /* Font modern dan bersih */
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

h1 {
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 0.8em;
}

h2 {
  font-size: 1.8em;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.4em;
  margin-top: 20px;
}

.recipe {
  max-width: 960px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

ul,
ol {
  margin-left: 40px;
}

li {
  margin-bottom: 8px;
}

button {
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  margin-top: 8px;
}
